ul.spaced li {
  margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

cite {
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.9em;
  font-style: italic;
  hyphens: none;
}

span.brackets::before {
  content: "[";
}

span.brackets::after {
  content: "]";
}

dl.py {
  margin-top: 1em;
}

table.image-gallery {
  border-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

table.image-gallery td, table.image-gallery th {
  border-style: none;
  padding: 0.25em 0.7em;
  text-align: center;
}

table.image-gallery td:hover, table.image-gallery th:hover {
  -webkit-box-shadow: 2px 2px 4px #eee;
  box-shadow: 2px 2px 4px #eee;
}

table.image-gallery td a, table.image-gallery th a {
  display:block;
  text-decoration:none;
  width:100%;
}

table.image-gallery td p, table.image-gallery th p {
  margin-top: 0;
}

div.glry {
  margin-top: 0;
  margin-bottom: 0;
}

dl.long-signature em.sig-param::before {
    content: "\a\20\20\20\20";
    white-space: pre;
}

dl.long-signature em.sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}

p.nospaceafter {
  margin-bottom: 0; 
}

td ul {
  margin-top: 0;
}


div.sphinxsidebar {
    overflow-wrap: normal;
}

div.long-code-block {
  overflow-y: scroll;
  height:200px;
}

span.math {
  white-space:nowrap;
}
